= month_calendar events: events do |date, events|
  = link_to date.strftime("#{ActiveSupport::Inflector.ordinalize(date.day)} %B"), new_event_path(date: date)
  - events.each do |event|
    br= link_to event.name, event_path(event), class: 'event-link'
